div.card_container{
    padding-top: 35px;
    padding-left: 10%;
    padding-right: 10%;
}
button.btn.btn-primary.card_btn{
    height: 20px;
}
div#title_container{
    text-align: center;
    padding-top: 20px;
}
div#cards{
    padding-left: 2%;
    padding-right: 2%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
div#accordion{
float: inline-start;
}
div#section_container{
    display: -webkit-flex;
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
}
div#section_URL{
-webkit-flex: 1;
flex: 7; 
}
div#section_search{
    -webkit-flex: 2;
    flex: 2; 
}
